.homeDiv{
    background:
    url(../media/Waihou.png);
    /*background-image:*/
    /*        linear-gradient(135deg, hsla(239, 100%, 67%, 0.4) 0%, hsla(187, 100%, 89%, 0.4) 100%),*/
    /*        url('https://images.pexels.com/photos/5537513/pexels-photo-5537513.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');*/
    width: 100%;
    height: 100%;
    background-size: cover;
    color: white;

}

.homeTitle{
    color: white;
}

.homeGrid{
    /*border: 2px solid purple;*/
    height: 91.9vh;

    position: relative;
    margin: auto;
}

.homeCenter{

    max-width: 800px;
    max-height: 800px;
    width: auto;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}