.homeDiv{
    background: url();
    background-color: #5e548e;
    height: 91.9vh;
}

.homeTitle{
    color: white;
    font-weight: 600;
}

.homeGrid{
    border: 2px solid purple;
    height: 91.9vh;

    position: relative;
    margin: auto;
}

.homeCenter{
    /* border: 1px solid gray; */
    max-width: 400px;
    max-height: 100px;
    width: auto;

    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}