.trainerDashboardContainer{
    width: 100%;
    min-height: 100vh;
    background-color: #5e548e;
    background-size: cover;
    background-position: center;
    display: block;
    align-items: center;
    justify-content: center;
    padding: 15px;
    text-align: -webkit-center;
}
.trainerDashboardTitle{
    font-weight: 600;
    font-size: 50px;
    padding-bottom: 40px;
}
.trainerDashboardBox{
    width: 50%;
    background: #9f86c0;
    text-align: center;
    padding: 10px 10px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 5px 5px black;
}

.trainerDashboardBox button{
    background: #a08cba;
    color: black;
    border-style: dashed;
    outline: none;
    box-shadow: 0 5px 10px rgba(147, 112, 219, 0.5);
    padding: 15px 60px;
    border-radius: 30px;
    font-weight: 600;
}

.trainerDashboardTable{
    background-color: #cabcdc;
}

.trainerDashboardHead{
    background-color: #7d5baa;
}