
.card{
    width: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}

.questionListTitle{
    font-weight: 600;
}

.viewQuestionsBox{
    background: linear-gradient(360deg, hsl(230, 88%, 29%) 0%, hsl(248, 88%, 29%) 100%);
    text-align: center;
    padding: 40px 90px;
    color: #fff;
    position: relative;
    border-radius: 20px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
}

.mcqCardContainer{
    background: linear-gradient(360deg, hsl(230, 88%, 29%) 0%, hsl(248, 88%, 29%) 100%);
    width: 100%;
    height: 100%;
    min-height: 100vh;
    /*background-color: #5e548e;*/
    background-size: cover;
    /*background-position: center;*/
    display: grid;
    align-items: center;
    justify-content: center;
}
.filterQuestionButton button{
    display: inline;
    width: 40%;
    padding: 10px;
    margin: 20px;
    background: #fff;
    color: #9f86c0;
    border: none;
    outline: none;
    box-shadow: 0 5px 10px rgba(159, 134, 192, 0.1);
    cursor: pointer;
    border-radius: 30px;
    font-weight: 600;
    font-size: 16px;

}

.filterQuestionButton{

}

.questionCard{
    background-color: #ebe1f2;
    min-height: 200px;
    border-radius: 15px;
    box-shadow: 0 10px 42px rgba(0, 0, 0,1);
    margin: 20px;
    padding: 10px;
}

.questionCard:hover{
    transform: scale(1.1, 1.1);
}

.questionCard button{
    width: 100%;
    background-color: #ebe1f2;
    font-weight: 600;
    padding: 5px;
    margin-bottom: 10px;
    border-radius: 15px;
}

button:hover {
    background-color: #c9b6d6;
    border-radius: 20px;
}

.questionId{
    font-size: 15px;
    text-align: left;
}

.questionTitle{
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    padding-bottom: 10px;
}

.cardFooterButtons button{
    border: 1px solid black;
    border-radius: 20px;
    background-color: #ebe1f2;
    color: #7a49a5;
    font-size: 15px;
    font-weight: bold;
}

.cardFooterButtons button:hover{
    border-radius: 20px;
    background-color: #E1E1E1;
    color: #7a49a5;
    font-size: 15px;
    font-weight: bold;
}

